/*@font-face {*/
/*    font-family: "Exo2-Medium";*/
/*    src: url("../fonts/Exo2-Medium.ttf");*/
/*}*/
/*@font-face {*/
/*    font-family: "Exo2-MediumItalic";*/
/*    src: url("../fonts/Exo2-MediumItalic.ttf");*/
/*}*/
/*@font-face {*/
/*    font-family: "Exo2-Bold";*/
/*    src: url("../fonts/Exo2-Bold.ttf");*/
/*}*/
/*@font-face {*/
/*    font-family: "Exo2-BoldItalic";*/
/*    src: url("../fonts/Exo2-BoldItalic.ttf");*/
/*}*/
* {
    margin: 0;
    padding: 0;
}
body {

}
#block-body {
    width: 1035px;
    margin: 5px auto;
    height: auto;
    background-color: rgba(217, 217, 217, 0.71);
}
header {
    width: 1035px;
    height: 80px;
    background-color: black;
}
#block-content {
    width: 1035px;
    height: auto;
    min-height: 600px;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 1.2em;
    font-family: "Book Antiqua", sans-serif;
}

.block-content ul li {
    margin-left: 20px;
}

.block-content p {
    font-weight: normal;
}

.block-content span {
    font-weight: bold;
    font-size: 1.3em;
}

.block-content table {
    border-collapse: collapse;
    width: 955px;
}

.block-content th, td {
    text-align: left;
    padding: 8px;
}

.block-content th {
    background-color: #414141;
    color: white;
}

.block-content tr:nth-child(even) {background-color: white;}

.logo {
    width: 200px;
    float: left;
    height: 80px;
}
.logo a {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    font-family: "Book Antiqua", sans-serif;
    font-size: 28px;
    color:  #b2aeb2;
    text-decoration: none;
    cursor: pointer;
}
.use {
    color: #aa064b;

}
.web {
    color: #429595;
}
.logo p {
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 5px;
    font-family: "Book Antiqua", sans-serif;
    font-size: 25px;
    color: white;
}
.top-menu {
    width: 685px;
    height: 80px;
    float: left;
}
.top-menu ul li {
    list-style: none;
    float: left;
    text-align: center;
}
.top-menu ul li a {
    display: block;
    width: 220px;
    text-decoration: none;
    font-family:  "Book Antiqua", sans-serif;
    font-size: 18px;
    color: white;
    height: 55px;
    padding-top: 25px;
    cursor: pointer;
}
.top-menu ul li a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    color: black;
    font-size: 20px;
    background: #b2aeb2;
}
.block-top-auth {
    width: 100px;
    float: left;
    margin-left: 40px;
    height: 80px;
}
.block-top-auth p {
    margin-top: 12px;
    text-align: center;
    margin-bottom: 8px;

}
.block-top-auth a {
    text-decoration: none;
    color: white;
    font-family:  "Book Antiqua", sans-serif;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}
.block-top-auth a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    color: #00ADE4;
}