<!doctype html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">

    <title>Readers</title>
</head>
<body>
<div id="block-body">
    <header th:insert="~{header :: header}"></header>
    <div id="block-content" class="block-content">
         <h1>Нет доступа</h1>
    </div>
</div>
</body>
</html>
