<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<!--разметка для нашего меню-->
<div th:fragment="header">
    <!--разметка для логотипа-->
    <div class="logo">
        <p>Библиотека</p>
    </div>

    <!--разметка для нашего меню-->
    <div class="top-menu">
        <ul>
            <li><a href="/ui/issues">Issues</a></li>
            <li><a href="/ui/books">Books</a></li>
            <li><a href="/ui/readers">Readers</a></li>
            <li><a href="/ui/logout">Выйти</a></li>
        </ul>
    </div>

<!--&lt;!&ndash;    блок с авторизацией&ndash;&gt;-->
<!--            <div class="block-top-auth">-->
<!--                <p><a href="/logout">Выйти</a></p>-->
<!--&lt;!&ndash;                <p><a href="#">Регистрация</a></p>&ndash;&gt;-->
<!--            </div>-->
</div>
