<!doctype html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">

    <title>Readers</title>
</head>
<body>
<div id="block-body">
    <header th:insert="~{header :: header}"></header>
    <div id="access-denied" class="access-denied">
         <h1>Выход</h1>
        <p>Вы уверены, что хотите выйти?</p>
        <form th:action="@{/logout}" method="post">

            <div>
                <input type="submit" value="Да, выйти.">
            </div>
        </form>
    </div>
</div>
</body>
</html>
