<!doctype html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">

    <title>Readers</title>
</head>
<body>
<div id="block-body">
    <header th:insert="~{header :: header}"></header>
    <div id="block-content" class="block-content">

        <div sec:authorize="hasAuthority('ADMIN')" class="container">
            <form th:action="@{/ui/readers}" th:object="${readerRequest}" method="post">
                <div class="row">
                    <div class="col-25">
                        <label for="name">Имя</label>
                    </div>
                    <div class="col-75">
                        <input th:field="*{name}" type="text" id="name" name="firstname" placeholder="Введите имя читателя.">
                    </div>
                </div>

                <div class="row">
                    <input type="submit" value="Добавить читателя">
                </div>
            </form>
        </div>

        <br>

        <h1>Список всех читателей:</h1>
        <ul th:each="reader: ${readers}">
            <li>
                <a th:href="@{/ui/reader/{id}(id=${reader.getId()})}" th:if="${#authentication.getName().equals(reader.getName().toLowerCase())}" th:text="${reader.getName()}"></a>
                <p th:text="${reader.getName()}" th:if="${not #authentication.getName().equals(reader.getName().toLowerCase())}"></p>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
